<p>
  <LinkTo @route='index'>
    Fractals
  </LinkTo>
</p>

<p>
  Newton fractal
</p>

<div class='row'>
  <div class='col-md-7'>
    <canvas id='component-canvas' width='400' height='400'>
      <div>
        Canvas not supported or disabled
      </div>
    </canvas>
  </div>

  <div class='col-md-4'>
    <div class='panel'>
      <a
        href='https://github.com/agcodes/universlogique-pg/blob/master/lib/generative/addon/object/newton-fractal.js'
      >
        Code
      </a>
    </div>
    <div class='panel'>
      <p>
        Parameters :
      </p>
      <ul>
        <li>
          x : [{{this.fractal.params.x1}}, {{this.fractal.params.x2}}]
        </li>
        <li>
          y : [{{this.fractal.params.y1}}, {{this.fractal.params.y2}}]
        </li>
        <li>
          Function : {{this.fractal.params.functionDefinition}}
        </li>
        <li>
          C : [{{this.fractal.params.a}}, {{this.fractal.params.b}}]
        </li>
        <li>
          Iterations : {{this.fractal.params.iterations}}
        </li>
      </ul>
    </div>
  </div>
</div>